<%-include("../admin/layouts/header.ejs")%>


  

<section class="col-lg-8 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
      <h2 class="h3 pt-2 pb-4 mb-0 text-center text-sm-start border-bottom">Dashboard</h2>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px;"><h1> welcome to my dashboard</h1></div>
    </div>
  </section>

<%-include("../admin/layouts/footer.ejs")%>